@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --primary-color: #1a1e26;
  --secundary-color: #08090d;
  --background-color: #343a40;
  --font-color: #f1f1f1;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  box-sizing: border-box;
}

.listGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  background-color: var(--primary-color);
  border-radius: 1rem;
  width: 30rem;
  min-height: 35rem;
  padding: 1rem;
}

.list h3 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: var(--font-color);
  background-color: var(--secundary-color);
  padding: 1rem 1rem;
  margin: -1rem -1rem 1rem -1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.task {
  padding: .5rem;
  font-size: 1.25rem;
  position: relative;
  margin: .5rem 0;
}

.task input[type='checkbox'] {
  display: none;
}

.task input + .custom-checkbox::before {
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: var(--background-color);
  border-radius: 10rem;
  border: 1px solid white;
  display: inline-block;
  margin-right: .75rem;
  padding: 1px;
  position: absolute;
  top: 0;
  left: 0;
  margin: .6rem .5rem;
}

.task input:hover + .custom-checkbox::before {
  background-color: gray;
}

.task input:checked + .custom-checkbox::before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-color: gray;
}

.task .task-name {
  font-size: inherit;
  font-weight: bold;
  color: var(--font-color);
  background-color: var(--primary-color);
  border: 0;
  width: 90%;
  height: auto;
  resize: none;
  overflow: hidden;
  margin-left: 2.5rem;
  padding: 0;
}

button {
    font-size: 1.25rem;
    font-weight: bolder;
    font-style: italic;
    color: #404868;
    padding: .25rem 1.5rem;
    margin: 0;
    border: 0;
    border-radius: .25rem;
    background-color: inherit;
}

button:hover {
    color: #8697dc;
}

.date-info {
  margin: .75rem 0;
  font-size: .75rem;
}


.date-info .date-input {
  background-color: var(--background-color);
  color: var(--font-color);
  border-radius: .25rem;
  border: 0;
  width: 5rem;
  appearance: none;
  margin-right: .5rem;
  margin-left: .2rem;
}
